<!doctype html>

<html>

  <head>
    <title>Tindercardsjs demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>

      body{
        font-family: 'Helvetica-Neue', 'HelveticaNeue', arial, sans-serif;
        color: #434343;
        background-color: '#BEBBBB';
      }

      .tc-card-name{
        font-weight:normal;
      }

      #main{
        position:relative;
        width:320px;
        height:480px;
        margin: 0 auto;
      }
      
      
    </style>

  </head>

  <body>

    <div id="main"></div>

    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/hammer/hammer.min.js"></script>
    <script src="js/tindercardsjs/tindercards.js"></script>

  </body>

</html>
